@import url(base.css);

/* Transaction Form */

.form-container {
    max-width: 70%;
    margin: 50px auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    border-radius: 5px;
  }
  
  label {
    display: block;
    margin-bottom: 8px;
  }
  
  input,select,textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-family: var(--ff-main);
  }
  
  select{
  height: 30px;
  width: 105%;
  }
  
  .middle{
    display: flex;
  }
  
  .left, .right{
    width: 100%;
    padding: 0 2rem;
    display: flex;
    flex-direction: column;
    /* border: 1px solid black; */
  }
  
  .bottom{
    display: flex;
    justify-content: flex-end;
    padding: 0 1rem;
    /* border: 1px solid black; */
  }
  
  button{
    display: inline-block;
    padding: 10px 20px;
    width: 200px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    color: var(--cl-white);
    background-color: var(--cl-navy);
    border: 2px solid var(--cl-navy);
    border-radius: 4px;
    transition: background-color 0.3s ease;
    margin: 1rem;
  }
  
  form button:hover{
    background-color: var(--cl-orange);
    border: 1px solid var(--cl-orange);
    cursor: pointer;
  }