:root {
  --ff-main: 'Montserrat', sans-serif;
  --cl-black: #000;
  --cl-navy: #14213d;
  --cl-orange: #fca311;
  --cl-grey: #e5e5e5;
  --cl-white: #edf2f4;
}

body {
  margin: 0;
  font-family: var(--ff-main);
  background-color: var(--cl-white);
  font-size: 15px;
}
/* Navigation Bar */
.navbar {
  overflow: hidden;
  background-color: var(--cl-grey);
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.nav-element {
  float: left;
  display: block;
  color: var(--cl-black);
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
}

.nav-element:hover {
  background-color: var(--cl-orange);
  color: var(--cl-white);
}


footer{
  bottom: 0;
  position: fixed;
  background-color: var(--cl-grey);
  width: 100%;
  display: flex;
  color: var(--cl-black);
  font-family: var(--ff-main);
}

.footer-container{
  width: 100%;
}


.footer-container2{
  width: 20%;
  text-align: end;
  padding: 0 1rem;
}

.content {
  padding: 60px 16px; /* Adjust the top padding to accommodate the fixed navbar */
}

/* Transaction Form */

.form-container {
  max-width: 600px;
  margin: 50px auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  border-radius: 5px;
}

/* .form-header {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

.form-body {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.left-container,
.right-container {
  flex: 1;
  max-width: 48%;
} */

label {
  display: block;
  margin-bottom: 8px;
}

input,
select,
textarea {
  width: 100%;
  padding: 8px;
  margin-bottom: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

select{
height: 30px;
}

.middle{
  display: flex;
}

.left, .right{
  width: 100%;
  padding: 2rem;
  display: flex;
  flex-direction: column;
}

.bottom{
  
  display: flex;
  justify-content: flex-end;
  padding: 0 1rem;
}

button{
  display: inline-block;
  padding: 10px 20px;
  width: 200px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  color: var(--cl-white);
  background-color: var(--cl-navy);
  border: 2px solid var(--cl-navy);
  border-radius: 4px;
  transition: background-color 0.3s ease;
  margin: 1rem;
}

form button:hover{
  background-color: var(--cl-orange);
  border: 1px solid var(--cl-orange);
  cursor: pointer;
}

.message-container {
  width: 50%;
  margin: 2rem auto;
  text-align: left;
  padding: 20px;
  border: 1px solid var(--cl-grey);
  border-radius: 8px;
  background-color: var(--cl-white);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.message {
  font-size: 18px;
  margin-bottom: 20px;
}

.button {
  display: inline-block;
  padding: 10px 20px;
  width: 100px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  color: var(--cl-white);
  background-color: var(--cl-navy);
  border: 2px solid var(--cl-navy);
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: var(--cl-orange);
  color: var(--cl-black);
}

.msg-button {
  display: flex;
  justify-content: flex-end;
}


@media screen and (max-width: 600px) {
  .navbar a {
    float: none;
    display: block;
    text-align: left;
  }
}

@media (max-width: 600px) {
  .left-container,
  .right-container {
      max-width: 100%;
  }
}

