<!DOCTYPE html>
<html>
<head>
  <title>Fixed Top Navigation Bar</title>
  <link rel="stylesheet" href="../static/styles.css">
</head>
<body>

<div class="navbar">
  <a href="#home">Home</a>
  <a href="#about">Transactions</a>
  <a href="#services">Analytics</a>
</div>

<div class="content">
  <!-- Your page content goes here -->
  <form action="/submit" method="post">
    <div class="top">
        <h2>New Transaction</h2>
    </div>
    <div class="middle">
        <div class="left">
            <label for="transaction_date">Date</label>
            <input type="date" name="transaction_date" id="transaction_date">
            <label for="account">Account</label>
            <select name="account" id="account" required>
                <option value="spa">SPA</option>
                <option value="spr">SPR</option>    
            </select>
    
            <label for="amount">Amount</label>
            <input type="text" name="amount" id="amount">
    
        </div>
        <div class="right">
            <label for="category">Category</label>
            <select name="category" id="category" required>
              <option value="Activities">Activities</option>
              <option value="Baby">Baby</option>
              <option value="Cash">Cash</option>
              <option value="Education">Education</option>
              <option value="Fees">Fees</option>
              <option value="Food">Food</option>
              <option value="Gifts">Gifts</option>
              <option value="Healthcare">Healthcare</option>
              <option value="Income">Income</option>
              <option value="Insurance">Insurance</option>
              <option value="Living">Living</option>
              <option value="Mobility">Mobility</option>
              <option value="Other">Other</option>
              <option value="Services">Services</option>
              <option value="Shopping">Shopping</option>
              <option value="Subscriptions">Subscriptions</option>
              <option value="Work">Work</option>
            </select>
            
            <label for="company">Company</label>
            <input type="text" name="company" id="company">
    
            <label for="comments">Comments</label>
            <input type="text" name="comments" id="comments">
        </div>
    </div>

    <div class="bottom">
        <button type="submit">Submit</button>
    </div>
    
    
    


  </form>
</div>

</body>
</html>
