<!DOCTYPE html>
<html>
<head>
    <title>Dashboard</title>
    <link rel="stylesheet" href="../static/css/base.css">
    <link rel="stylesheet" href="../static/css/dashboard.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
</head>
<body>

<header>
    <nav class="navbar">
        <div class="nav-links">
            <a href="{{url_for('index')}}" class="nav-element">HOME</a>
            <a href="{{url_for('new_transaction')}}" class="nav-element">TRANSACTIONS</a>
            <a href="" class="nav-element">ANALYTICS</a>
            <a href="" class="nav-element">SAVINGS</a>
            <a href="" class="nav-element">SETTINGS</a>
        </div>

    </nav>
</header>

<div class="content">
    <h2>Dashboard</h2>
    <div class="main-container">

        <div class="tile-container">
            <div class="tile-element">
                <p class="tile-content">10.000</p>
                <p class="tile-description">Monthly Income</p>
            </div>
            <div class="tile-element">
                <p class="tile-content">100</p>
                <p class="tile-description">Monthly Spend</p>
            </div>
            <div class="tile-element">
                <p class="tile-content">100</p>
                <p class="tile-description">Current Balance</p>
            </div>
            <div class="tile-element">
                <p class="tile-content">100</p>
                <p class="tile-description">Previous Balance</p>
            </div>
        </div>
    </div>



</div>






<footer>
    <div class="footer-container">
    </div>
    <div class="footer-container2">
        <p>KPD 2023</p>
    </div>
</footer>

<script src="../static/js/cat.js"></script>
<script src="../static/js/entry.js"></script>

</body>

</html>
