<!DOCTYPE html>
<html>
<head>
    <title>Fixed Top Navigation Bar</title>
    <link rel="stylesheet" href="../static/styles.css">
</head>
<body>

<div class="navbar">
    <a href="#home">Home</a>
    <a href="#about">Transactions</a>
    <a href="#services">Analytics</a>
</div>

<div class="content">
    <div class="message">
        <div class="msg-content">
            <h2>Success!</h2>
            <p>Your transaction has been saved successfully!</p>
        </div>
        <div class="msg-button">
            <a href="/"><button>Done</button></a>
        </div>
    </div>

</div>

<script src="../static/js/cat.js"></script>

</body>
</html>
