<!DOCTYPE html>
<html>
<head>
    <title>Transaction</title>
    <link rel="stylesheet" href="../static/css/base.css">
    <link rel="stylesheet" href="../static/css/form.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
</head>
<body>

<header>
    <nav class="navbar">
        <div class="nav-links">
            <a href="{{url_for('index')}}" class="nav-element">HOME</a>
            <a href="{{url_for('new_transaction')}}" class="nav-element">TRANSACTIONS</a>
            <a href="" class="nav-element">ANALYTICS</a>
            <a href="" class="nav-element">SAVINGS</a>
            <a href="" class="nav-element">SETTINGS</a>
        </div>

    </nav>
</header>

<div class="content">
    <!-- Your page content goes here -->
    <div class="form-container">
    <form action="/submit" method="post">
        <div class="top">
            <h2>New Transaction</h2>
        </div>
        <div class="middle">
            <div class="left">
                <label for="transaction_date">Date</label>
                <input type="date" name="transaction_date" id="transaction_date" required>

                <label for="account">Account</label>
                <select name="account" id="account" required></select>

                <label for="spend-type">Spend Type</label>
                <select name="spend-type" id="spend-type" required>
                    <option value="income">Income</option>
                    <option value="spend">Spend</option>
                </select>

                <label for="amount">Amount</label>
                <input type="text" name="amount" id="amount" required>
                <p id="warning" style="color: red; display: none;">Please enter a valid number between 0 and 9.</p>

                <label for="type">Type</label>
                <select name="type" id="type" required></select>


                <label for="category">Category</label>
                <select name="category" id="category" onchange="updateSubCat()"></select>

            </div>
            <div class="right">
                <label for="sub-category">Sub Category</label>
                <select name="sub-category" id="sub-category"></select>

                <label for="company">Company</label>
                <input type="text" name="company" id="company" required>

                <label for="audience">Audience</label>
                <select name="audience" id="audience" required></select>

                <label for="essential">Essential</label>
                <select name="essential" id="essential" required>
                    <option value="yes">Yes</option>
                    <option value="no">No</option>
                </select>


                <label for="comments">Comments</label>
                <textarea type="text-area" name="comments" id="comments" rows="7" cols="30">
                </textarea>

            </div>
        </div>

        <div class="bottom">
            <button id="btn-submit" type="submit" onclick="verifyEntry()">Submit</button>
        </div>
    </form>
</div>


</div>

<script src="../static/js/cat.js"></script>
<script src="../static/js/entry.js"></script>

</body>
<footer>
    <div class="footer-container">
    </div>
    <div class="footer-container2">
        <p>KPD 2023</p>
    </div>
</footer>
</html>
